.profile__button-edit {
    width: 24px;
    height: 24px;
    align-self: center;
    background-color: #000;
    background-image: url(../../../../images/pensil.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    cursor: pointer;
    color: none;
    border: 1px solid #fff;
    transition: opacity .5s ease-in-out;
}

.profile__button-edit:hover {
    opacity: .6;
}
