.popup__text-error {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;
}

.popup__span {
    margin: 0;
}

.popup__text-error-active {
    color: red;
}

.popup__text-error:first-of-type {
    /* margin-bottom: 13px; */
}

.popup__text-error:last-of-type {
    /* margin-bottom: 32px; */
}


@media screen and (max-width:880px) {
    .popup__text-error:last-of-type {
        margin-bottom: 45px;
    }
}

